<ion-header>
  <ion-toolbar>
    <ion-title style="font-size: x-large;">Episodes</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar slot="top">
        <ion-tab-button [routerLink]="['/home']">
          <ion-icon name="home-outline"></ion-icon>
          <ion-label>Home</ion-label>
        </ion-tab-button>
        <ion-tab-button [routerLink]="['/characters']">
          <ion-icon name="person-outline"></ion-icon>
          <ion-label>Characters</ion-label>
        </ion-tab-button>
        <ion-tab-button [routerLink]="['/planets']">
          <ion-icon name="planet-outline"></ion-icon>
          <ion-label>Planets</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngFor="let episode of episodes" [routerLink]="['/episodes', episode.id]">
    <ion-item>
      <ion-avatar slot="start">
        {{episode.id}}
      </ion-avatar>
      <ion-label>
        {{episode.name}}
      </ion-label>
    </ion-item>    
  </ion-list>
</ion-content>
