<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/characters"></ion-back-button>
    </ion-buttons>
    <ion-title>{{character?.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-item>Status: {{character?.status}}</ion-item>
      <ion-item color="light">Specie: {{character?.species}}</ion-item>
      <ion-item>Gender: {{character?.gender}}</ion-item>
      <ion-item color="light">Origin: {{character?.origin.name}}</ion-item>
      <ion-item>Location: {{character?.location.name}}</ion-item>
      <ion-item color="light">Created: {{character?.created}}</ion-item>
      <ion-img src="{{character?.image}}"></ion-img>
    </ion-card-content>
  </ion-card>
</ion-content>