<ion-header>
  <ion-toolbar>
    <ion-title style="font-size: x-large;">Planets</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar slot="top">
        <ion-tab-button [routerLink]="['/home']">
          <ion-icon name="home-outline"></ion-icon>
          <ion-label>Home</ion-label>
        </ion-tab-button>
        <ion-tab-button [routerLink]="['/characters']">
          <ion-icon name="person-outline"></ion-icon>
          <ion-label>Characters</ion-label>
        </ion-tab-button>
        <ion-tab-button [routerLink]="['/episodes']">
          <ion-icon name="library-outline"></ion-icon>
          <ion-label>Episodes</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngFor="let planet of planets" [routerLink]="['/planets', planet.id]">
    <ion-item>
      <ion-avatar slot="start">
        {{planet.id}}
      </ion-avatar>
      <ion-label>
        {{planet.name}}
      </ion-label>
    </ion-item>    
  </ion-list>
</ion-content>