<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/episodes"></ion-back-button>
    </ion-buttons>
    <ion-title>{{episode?.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-item>Air Date: {{episode?.air_date}}</ion-item>
      <ion-item color="light">Episode: {{episode?.episode}}</ion-item>
      <ion-item>Episode URL: {{episode?.url}}</ion-item>
      <ion-item color="light">Created: {{episode?.created}}</ion-item>
      <img src="https://images.genius.com/d043f8f4c06f117c3efeec06dc8761dd.1000x1000x1.jpg" alt="planetimage" class="item-image">
    </ion-card-content>
  </ion-card>
</ion-content>
