<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/planets"></ion-back-button>
    </ion-buttons>
    <ion-title>{{planet?.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-item>Type: {{planet?.type}}</ion-item>
      <ion-item color="light">Dimension: {{planet?.dimension}}</ion-item>
      <ion-item>Created: {{planet?.created}}</ion-item>
      <img src="https://i.ytimg.com/vi/BSymgfwoAmI/maxresdefault.jpg" alt="planetimage" class="item-image">
    </ion-card-content>
  </ion-card>
</ion-content>
