.header-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.card-image {
  height: 169px;
  width: 100%;
}

ion-card {
  margin: 10px !important;
}

ion-card-title {
  text-align: center;
  font-size: x-large;
  margin-top: 5px;
  margin-bottom: 5px;
}

ion-footer {
  margin-top: 50px;
  height: 50px;
  text-align: center;
  font-size: large;
  vertical-align: middle;
  position: absolute;
  bottom: 0;
  background-color: black;
}